[submodule "services/FightGameServer_Rest"]
	path = services/FightGameServer_Rest
	url = https://github.com/dksysd/FightingGameServer_Rest.git
[submodule "services/FightGameServer_Chatbot"]
	path = services/FightGameServer_Chatbot
	url = https://github.com/dksysd/FightGameChatBot.git